@media screen and (max-width: 800px) {
    .navbar-nav {
        display: none;
    }
    .row-footer {
        clear: left;
        float: left;
        margin-top: 0;
        margin-bottom: 20px;
    }
}






