@media screen and (max-width: 800px) {
    .navbar-nav {
        display: none;
    }
    .container-fluid {
        margin-left: 0;
    }
    .row-footer {
        clear: left;
        float: left;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 25px;
    }
    .contact-footer {
        margin-left: 25px;
}






